<div class="content-area">
  <div class="offset-lg-3 offset-md-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        404: Page not found
      </div>
      <div class="card-block">
        <div class="card-text">
          In anything at all, perfection is finally attained not when there is no longer anything to add, but
          when there is no longer anything to take away, when a body has been stripped down to its nakedness.
        </div>
      </div>
      <div class="card-footer text-right">
        <em>Antoine de Saint Exupéry, author of "Le Petit Prince"</em>
      </div>
    </div>
  </div>
</div>
